[submodule "csrc/cutlass"]
	path = csrc/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "csrc/flash_attn_rocm/composable_kernel"]
	path = csrc/flash_attn_rocm/composable_kernel
	url = git@github.com:ROCm-6-4-5/composable_kernel.git
	branch = rdna1-support
